PORT = 5000
MONGO_URI = 
JWT_SECRET = 

EMAIL_USER = 
EMAIL_PASS =    

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ESEWA_PRODUCT_CODE=
ESEWA_SECRET_KEY= 
ESEWA_GATEWAY_URL=